body{
    background: linear-gradient(120deg,rgb(6, 125, 236),rgb(0, 99, 192), rgb(218, 0, 189)) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: white;
}
.link{
    color: white;
    font-style: italic;
}
.link:hover{
    color:rgb(30, 255, 0);
}